---
import type { ArcContentElement } from '../../services/articleService';

interface Props {
  element: ArcContentElement;
}

const { element } = Astro.props;
---

<div class="divider-block my-8">
  <hr class="border-t border-gray-200" />
</div>
